%button{
    padding: 5px;
    width: 80px;
    height: 30px;
    background-color: $color-dark-bg;
    border-radius: 10px;
    font-weight: 700;
    border: 1px solid white;
    cursor: pointer;
    &:hover{
        box-shadow: 0 0 20px $color-dark-bg;
    }
}